[submodule "_vim/bundle/command-t"]
	path = _vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/markdown"]
	path = _vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "_vim/bundle/tasklist"]
	path = _vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/bundle/tlib"]
	path = _vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/python-mode"]
	path = _vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "_vim/bundle/latex"]
	path = _vim/bundle/latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "_vim/bundle/screen"]
	path = _vim/bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "_vim/bundle/R"]
	path = _vim/bundle/R
	url = https://github.com/jcfaria/Vim-R-plugin.git
[submodule "_vim/bundle/ipython"]
	path = _vim/bundle/ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "_vim/bundle/vim-unimpaired"]
	path = _vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "_vim/bundle/stan"]
	path = _vim/bundle/stan
	url = https://github.com/maverickg/stan.vim.git
[submodule "_vim/bundle/acp"]
	path = _vim/bundle/acp
	url = git@github.com:vim-scripts/AutoComplPop.git
[submodule "_vim/bundle/l9"]
	path = _vim/bundle/l9
	url = git@github.com:eparreno/vim-l9.git
