Acorah\ Software\ Products/
DjVuLibre/
QtProject.conf
RStudio
Skype/
Synology
Trolltech.conf
VirtualBox/
autostart/
banshee-1/
brasero/
calendar-indicator/
chromium/
compiz-1/
compiz/
dconf/
enchant/
eog/
evince/
evolution/
gedit/
geeqie/
gnome-control-center/
goa-1.0/
google-chrome/
gpick/
gtk-2.0/
gtk-3.0/
htop/
ibus/
icedtea-web/
indicators
inkscape/
jeex/
libaccounts-glib/
libreoffice/
menus/
mimeapps.list
monitors.xml
nautilus/
pavucontrol.ini
pomodoro-indicator/
puddletag/
pulse/
rubyripper/
signond/
software-center/
skypeforlinux/
tomboy/
totem/
ubuntuone/
unity/
update-notifier/
upstart/
user-dirs.dirs
user-dirs.locale
vlc/
xbuild/
yelp/
zoomus.conf
