Acorah\ Software\ Products/
DjVuLibre/
GIMP/
MusicBrainz/
QtProject.conf
RStudio
Skype/
Slack/
Synology
Thunar/
Trolltech.conf
Upmpd.org/
VirtualBox/
autostart/
banshee-1/
brasero/
calendar-indicator/
chromium/
compiz-1/
compiz/
copyq/
dask/
dconf/
easytag/
enchant/
eog/
evince/
evolution/
gedit/
geeqie/
gnome-control-center/
gnome-initial-setup-done
goa-1.0/
google-chrome/
gpick/
gtk-2.0/
gtk-3.0/
htop/
ibus/
icedtea-web/
indicators
inkscape/
jeex/
libaccounts-glib/
libreoffice/
menus/
mimeapps.list
monitors-v1-backup.xml
monitors.xml
nautilus/
pavucontrol.ini
pomodoro-indicator/
puddletag/
pulse/
rubyripper/
signond/
skypeforlinux/
smplayer/
software-center/
tomboy/
totem/
ubuntuone/
unity-monitors.xml
unity/
update-notifier/
upstart/
user-dirs.dirs
user-dirs.locale
vlc/
wireshark/
xbuild/
xfce4/
yelp/
zoomus.conf
