mimeapps.list
compiz/
indicators
DjVuLibre/
Skype/
Trolltech.conf
VirtualBox/
autostart/
banshee-1/
brasero/
chromium/
compiz-1/
dconf/
enchant/
eog/
evince/
evolution/
gedit/
geeqie/
gnome-control-center/
google-chrome/
gpick/
gtk-2.0/
gtk-3.0/
htop/
ibus/
icedtea-web/
inkscape/
jeex/
libaccounts-glib/
libreoffice/
menus/
monitors.xml
nautilus/
pavucontrol.ini
pulse/
rubyripper/
signond/
software-center/
tomboy/
totem/
ubuntuone/
unity/
update-notifier/
upstart/
user-dirs.dirs
user-dirs.locale
vlc/
xbuild/
yelp/
